body {
	font-family: monospace;
	background-color: #293133;
	color: #D2B48C;
	font-size: 20px;
}
h2 {
	color: #D2B48C;
	background: #002fa7;
	border-radius: 30px;
	display: inline-flex;
	margin: 15px;
	padding: 15px;
}

h3 {
	color: #DAA520;
}
.bulle1 p {
	color: #D2B48C;

}

.imagi1 a img{
	display: inline-flex;
	width: 40%;
	height: 40%;
	margin: 20px;
	border-radius: 20px;
	border: solid #002fa7;
}
.imagi2 {
	display: inline-flex;
}
.imagi2 a img {
	display: inline-flex;
	width: 33%;
	height: 33%;;
	margin: 20px;
	border-radius: 20px;
	border: solid #002fa7;
}
.cars img {
	width: 60%;
	height: 60%;
	margin: 20px;
	border-radius: 20px;
	border: solid #D2B48C ;
}
.cars p {
	color: #D2B48C;
	background: #002fa7;
	border-radius: 30px;
	display: inline-flex;
	margin: 20px;
	padding: 20px;
}
.yacht img {
	width: 100%;
	height: 100%;
	margin: 20px;
	border-radius: 20px;
	border: solid #D2B48C ;
}
.yacht p {
	color: #D2B48C;
	background: #002fa7;
	border-radius: 30px;
	display: inline-flex;
	margin: 20px;
	padding: 20px;
}
.photos1 {
	display: inline-flex;
}
.photos1 img {
	width: 50%;
	height: 50%;
	margin: 20px;
	border-radius: 20px;
	border: solid #D2B48C ;
}
.photos2 {
	display: inline-flex;
}
.photos2 img {
	width: 50%;
	height: 50%;
	margin: 20px;
	border-radius: 20px;
	border: solid #D2B48C ;
}
.photos3 {
	display: inline-flex;
}
.photos3 img {
	width: 50%;
	height: 50%;
	margin: 20px;
	border-radius: 20px;
	border: solid #D2B48C ;
}
.Jet img {
	width: 100%;
	height: 100%;
	margin: 20px;
	border-radius: 20px;
	border: solid #D2B48C ;
}
.Jet p {
	color: #D2B48C;
	background: #002fa7;
	border-radius: 30px;
	display: inline-flex;
	margin: 20px;
	padding: 20px;


}

.fotos1 {
	display: inline-flex;
}
.fotos1 img {
	width: 50%;
	height: 50%;
	margin: 20px;
	border-radius: 20px;
	border: solid #D2B48C ;
}
.fotos2 {
	display: inline-flex;
}
.fotos2 img {
	width: 600px;
	height: 400px;
	margin: 20px;
	border-radius: 20px;
	border: solid #D2B48C ;
}
.fotos2 ul {
	color: #D2B48C;
	border-radius: 30px;
	margin: 20px;
	padding: 20px;
}
.fotos3 {
	display: inline-flex;
}
.fotos3 img {
	width: 1200px;
	height: 800px;
	margin: 20px;
	border-radius: 20px;
	border: solid #D2B48C ;
}